.ceo {
  position: relative;
  z-index: 1;
  padding: 123px 0;

  width: 100%;
  background-color: var(--background-main-color);

  @media (max-width: 998px) {
    justify-content: center;
    display: flex;
    padding: 83px 0 100px;
  }
}

.ceo-container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 998px) {
      flex-direction: column;
    }
  }
}

.ceo-image {
  border-radius: 10px;
  max-width: 468px;

  @media (max-width: 530px) {
    max-width: 100%;
  }
}

.ceo-title {
  color: var(--title-color);
  font-size: 48px;
  font-weight: var(--title-font-weight);
  line-height: var(--title-line-height);
  letter-spacing: var(--title-letter-spacing);
  padding: 0;
  margin: 0 0 60px;
  max-width: 430px;

  @media (max-width: 768px) {
    font-size: 36px;
  }
}

.ceo-text {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  max-width: 460px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: var(--text-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
  color: #8F98A6;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (max-width: 998px) {
    margin: 40px 0;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }

  &__main {
    color: #ffffff;
  }

  &__image {
    max-width: 300px;

    @media (max-width: 530px) {
      max-width: 100%;
    }
  }
}

.ceo-subtitle {
  color: #8F98A6;
  font-size: 24px;
  font-weight: var(--text-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
  padding: 0;
  margin: 0;
}
