---
import { Image } from 'astro:assets'

import PilotImage from './images/pilot.jpeg'
import SignatureImage from './images/signature.png'
---

<section id="ceo" class="ceo">
  <div class="ceo-container">
    <div class="ceo-container__title">
      <h1 class="ceo-title">Welcome to the Maristan company website</h1>
    </div>
    <div class="ceo-container__content">
      <div>
        <Image class="ceo-image" src={PilotImage} alt="" />
      </div>
      <div class="ceo-text">
        <p>“I am pleased to welcome you as the CEO of this company, as well as an experienced Captain with many years of experience. <span class="ceo-text__main">This company was created to share passion for aviation with the public and show the world its beauty from a bird’s eye view.</span></p>
        <p>Our company offers an unforgettable experience into the aviation world, including but not limited to helicopter charters, operational lease, general aviation consulting, surveillance services and much more.</p>
        <p>You can take our helicopters for your own private needs and fly over the most beautiful and picturesque sites. If you need any professional assistance, we may provide you with a qualified pilot to act as first pilot or co-pilot and ensure comfort during the flight.</p>
        <p><span class="ceo-text__main">I am sure that our company will be your longtime partner in your aviation journey.</span>  We are ready to answer all your questions any time."</p>
        <div>
          <span class="ceo-subtitle">Sincerely,</span>
          <Image class="ceo-text__image" src={SignatureImage} alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import './Ceo.scss';
</style>
