---
import { Image } from 'astro:assets'

import PilotImage from './images/pilot.jpeg'
import SignatureImage from './images/signature.png'
---

<section id="ceo" class="ceo">
  <div class="ceo-container">
    <div class="ceo-container__title">
      <h1 class="ceo-title">Welcome to the Maristan helicopter company website</h1>
    </div>
    <div class="ceo-container__content">
      <div>
        <Image class="ceo-image" src={PilotImage} alt="" />
      </div>
      <div class="ceo-text">
        <p>“I am pleased to welcome you as the CEO of this company, as well as an experienced pilot with many years of experience. Three years ago, <span class="ceo-text__main">I created this company to share my passion for aviation and show the world the beauty from a bird's eye view.</span></p>
        <p>We offer you an unforgettable experience of helicopter rides in the most picturesque places on the planet. Our team of professionals will organize a private helicopter tour for you so that you can enjoy stunning views from a bird's eye view.</p>
        <p>We have a wide range of routes, including flights over volcanoes, fjords, historical cities and other unique natural and cultural sites. I will personally pilot your helicopter to ensure your safety and comfort during the flight.</p>
        <p><span class="ceo-text__main">I am sure that our helicopter rides will leave you with unforgettable memories and give you a lot of positive emotions.</span> We are ready to answer all your questions and help you choose the best route for your excursion."</p>
        <div>
          <span class="ceo-subtitle">Sincerely,</span>
          <Image class="ceo-text__image" src={SignatureImage} alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import './Ceo.scss';
</style>
