---
import * as Data from './Company.md'
import Header from '../Header/Header.astro'
---

<section id="company" class="company">
  <Header />
  <div class="company-container">
    <div class="company-container__title">
      <h2 class="company-title">{Data.frontmatter.title}</h2>
    </div>
    <div class="company-container__description">
      <p class="company-description">{Data.frontmatter.description1}</p>
      <p class="company-description">{Data.frontmatter.description2}</p>
    </div>
  </div>

  <style lang="scss">
    @import './Company.scss';
  </style>
</section>
