.destinations {
  position: relative;
  z-index: 1;
  background-color: var(--background-main-color);
  padding: 120px 0;
}

.destinations-container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;

  &__title {
    margin: 0 0 50px 0;
  }

  &__cards {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 36px;

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.destinations-header {
  display: grid;
  grid-template-areas:
  'title subtitle'
  'image image';
  row-gap: 58px;
  margin-bottom: 100px;

  @media (max-width: 768px) {
    grid-template-areas:
    'title'
    'image'
    'subtitle';
    row-gap: 30px;
  }
}

.destinations-title {
  color: var(--title-color);
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  line-height: var(--title-line-height);
  letter-spacing: var(--title-letter-spacing);
  padding: 0;
  margin: 0;
  text-align: left;
  grid-area: title;

  @media (max-width: 768px) {
    text-align: left;
    font-size: 36px;
  }
}

.destinations-subtitle {
  grid-area: subtitle;
  align-self: end;
  justify-self: end;
  font-size: 24px;
  font-weight: 29;
  color: #8F98A6;

  @media (max-width: 768px) {
    justify-self: start;
    font-size: 18px;
  }
}

.destinations-image {
  grid-area: image;
  border-radius: 20px;
  width: 100%;
}

.accordion {
  position: relative;
}

.accordion-item {
  padding-bottom: 30px;

  &:not(:last-child) {
    border-bottom: 1px solid #4E545F;
  }

  &:not(:first-child) {
    margin-top: 24px;
  }

  &.active .accordion-header .accordion-title {
    background-image: url('images/minus.svg');
    background-repeat: no-repeat;
  }
}

.accordion-header {
  cursor: pointer;
}

.accordion-title {
  margin: 0;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -4%;
  color: #E7F2F8;
  position: relative;
  padding-left: 30px;
  background-image: url('images/plus.svg');
  background-repeat: no-repeat;
  background-position-y: center;

  @media (max-width: 768px) {
    font-size: 58px;
    line-height: 70px;
  }
}

.accordion-subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -4%;
  color: #8F98A6;
  padding-left: 30px;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 21px;
  }
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  font-size: 24px;
  line-height: 29px;
  font-size: 24px;
    line-height: 29px;
  color: #E7F2F8;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 22px;
  }

  &__image {
    margin: 42px 0;
    border-radius: 20px;
  }
}
